.About {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17vw;
    color: transparent;
    /* Makes the inside of the text transparent */
    -webkit-text-stroke: 2px white;
    /* Adds a stroke to the text */
    font-weight: 300;
}

.img-pp {
    z-index: 1;
    top: 30%;
    right: 80%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.firstpage p {
    margin: 0;
    padding: 0;
}

.firstpage {
    position: relative;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 200;

}

.paragraphe-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 4vw;
    padding-right: 4vw;
    gap: 1vw;
    box-sizing: border-box;
    overflow: hidden;
}

.secondpage {
    position: relative;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    width: 75%;
}

.img-container {
    perspective: 800px;
    /* Controls the depth perspective */
}

.img-study {
    z-index: 1;
    width: 150px;
    /* Adjust the size as needed */
    height: 150px;
    /* Ensure width and height are equal for a circle */
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    flex-shrink: 0;
    /* Prevent image from shrinking */
    margin: auto;
    /* Center the image horizontally and vertically */
    display: flex;
    /* Ensure it's a flex container for alignment */
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    /* Smooth transition */
    transform-style: preserve-3d;
    /* Ensures child elements are transformed in 3D */
    margin-top: 1em;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.471);
}

.img-study:hover {
    transform: rotateY(360deg);
    /* Rotate 180 degrees on hover */
    box-shadow: 0 8px 16px rgba(241, 238, 238, 0.8)
}

.study {
    margin-inline: .5em;
    border-color: white;
    border-width: 1ch;
    border-style: double;
    z-index: 1;
}

.study-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    gap: 1vw;

}

.study-wrapper h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0em;
}

.study-wrapper h3 {
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0em;


}

.study-wrapper h4 {
    font-size: 1.6em;
    font-weight: 200;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0em;

}

.study-wrapper p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.tagcloud {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.7em;
}

.skillsParagraph p {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin: 0.5em;
    font-style: italic;
}

.img-devops {
    z-index: 1;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.fourthpage h2 {
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 6em;
}

.Sport {
    color: blue;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}


.Sport p{
    align-items: center;
    font-size: 1.2em;
    font-weight: 200;
    z-index: 1;
    color: white;
    width: 60%;
    font-style: italic;
    margin: 0.5em;
    
    
}

.sportImage {
    display: flex;
    flex-direction: row;
}

.img-sport {
    margin: 5em;
    filter: invert(1);
    z-index: 1;
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Travel {
    z-index: 1;
    position: relative;
    color: red;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-block: 10em;

}

.Travel h3 {
    font-size: 4em;
    font-weight: 200;
    z-index: 1;
    color: white;
}


.France {
    z-index: 1;
    position: relative;
    color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5em;
}

.France p {
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
    z-index: 1;
    color: white;
    margin: 0.5em;
}

.SouthAmerica {
    z-index: 1;
    position: relative;
    color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5em;
}

.SouthAmerica p {
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
    z-index: 1;
    color: white;
    margin: 0.5em;
}