@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.All {
  background-color: black;
  font-family: 'Oxanium', cursive;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* Style for the tsparticles container */

.cursor-dot{
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline{
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  z-index: 1;
  
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
