/* RouterWrapper.css */

.wrapper {
    width: 100%;
    height: 100%;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }


/* header */
.header {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    /* Ensure it is above other elements if needed */
}

.rolling-text {
    transition: color 0.5s;
}

.rolling-text:hover {
    font-weight: bold;
}

.header nav a {
    text-decoration: none;
    color: white;

}

.header nav {
    margin-block: 2em;
    margin-inline: 1em;
    font-size: 2em;
}